

/* .cards {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 30px;
	background-color: #d0d2d3;
	padding: 10px;
	
}


.cards > div {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
	text-align: center;
	font-size: 20px;

}

.card__image {
	width: 150px;
	height:150px;
	
	display: block;
  background-size: cover;
  border:2px solid #333333;
} */

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }

